<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free restaurant catalogue for you">
    <meta name="theme-color" content="#db0000"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="manifest" href="manifest.json">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Catalogue</title>
</head>
<body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
<header class="app-bar">
    <div class="app-bar__menu">
        <button id="hamburgerButton" aria-label="humburger button">☰</button>
    </div>
    <div class="app-bar__brand">
        <h1>Restaurant Catalogue</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
            <li><a href="#/now-playing">Home</a></li>
            <li><a href="#/upcoming">Favorite</a></li>
            <li><a href="https://karyakarsa.com/ciptosuhari"  target="_blank" rel="noreferrer">About Us</a></li>
        </ul>
    </nav>
</header>
<main id="mainContent"></main>
<footer>
    <p>Copyright © 2021 - Manje Jakarta</p>
    <p>All data obtained from <a href="https://restaurant-api.dicoding.dev/." target="_blank" rel="noreferrer">TheRestaurantDB</a></p>
</footer>
</body>
</html>
